---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import Card from '../../components/Card.astro'

export async function getStaticPaths({ paginate }: any): Promise<any> {
	const posts = (await getCollection('posts')).sort(
		(a, b) =>
			((b.data.pubDate && b.data.pubDate.valueOf()) || new Date(0).valueOf()) -
			((a.data.pubDate && a.data.pubDate.valueOf()) || new Date(0).valueOf()),
	)
	return paginate(posts, { pageSize: 10 })
}

let totalPages = await getCollection('posts').then((posts) => {
	return Math.ceil(posts.length / 10)
})

const { page } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2 class="page">
				Posts
				{
					totalPages != 1 && (
						<span>
							({page.currentPage}/{totalPages})
						</span>
					)
				}
			</h2>
			<section>
				<ul>
					{
						page.data.map((post: any) => (
							<Card
								slug={'/post/' + post.slug}
								title={post.data.title}
								description={post.data.description}
								date={post.data.pubDate}
								updatedDate={post.data.updatedDate}
								tags={post.data.tags}
							/>
						))
					}
				</ul>
			</section>
			{
				totalPages != 1 && (
					<div class="pager">
						<div>
							{page.url.prev && (
								<a class="pageLink" href={page.url.prev}>
									Previous page
								</a>
							)}
						</div>
						<div>
							{page.url.next && (
								<a class="pageLink" href={page.url.next}>
									Next page
								</a>
							)}
						</div>
					</div>
				)
			}
		</main>
		<Footer />
		<style>
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 1.5rem;
				list-style-type: none;
				margin: 0 0.7em;
				padding: 0;
			}
			.page {
				margin-bottom: 1em;
				font-style: italic;
			}
			.pager {
				display: flex;
				justify-content: space-between;
				margin: 2em 0;
			}
			.pageLink {
				text-decoration: none;
				padding: 0.5em 1em;
			}
		</style>
	</body>
</html>
