---
import Layout from '../layouts/Post.astro'

const socialLinks = [
	{
		name: 'GitHub',
		url: 'https://github.com/iffse',
		icon: 'https://upload.wikimedia.org/wikipedia/commons/c/c2/GitHub_Invertocat_Logo.svg',
	},
	{
		name: 'Codeberg',
		url: 'https://codeberg.org/iff',
		icon: 'https://upload.wikimedia.org/wikipedia/commons/4/4e/Codeberg_Logo.svg',
	},
	{
		name: 'X (Twitter)',
		url: 'https://twitter.com/iff_se',
		icon: 'https://upload.wikimedia.org/wikipedia/commons/c/ce/X_logo_2023.svg',
	},
	{
		name: 'Fediverse (illustrations)',
		url: 'https://oekakiskey.com/@iff',
		icon: 'https://storage.googleapis.com/oekakiskey/drive/e55ebf2bdef4f81a.png',
	},
	{
		name: 'Fediverse (FOSS)',
		url: 'https://pleroma.envs.net/iff',
		icon: 'https://upload.wikimedia.org/wikipedia/commons/e/e1/Pleroma_logo.svg',
	},
	{
		name: 'Fediverse (general)',
		url: 'https://c.im/@iff',
		icon: 'https://upload.wikimedia.org/wikipedia/commons/d/d5/Mastodon_logotype_%28simple%29_new_hue.svg',
	},
	{
		name: 'pixiv',
		url: 'https://www.pixiv.net/users/101105237',
		icon: 'https://upload.wikimedia.org/wikipedia/commons/7/7e/Pixiv_Icon.svg',
	},
].sort((a, b) => a.name.localeCompare(b.name))
---

<Layout
	title="About"
	description="A little bit about me"
	updatedDate={new Date('2023-12-06')}
>
	<p>Hi there! Curious about me?</p>

	<p>
		I'm an Aerospace Engineering student in Europe, passionate about
		technologies, physics, and informatics, among others. Most of my
		professional experiences are in Computational Fluid Dynamics, working with
		algorithm to solve problems in Aerospace sectors.
	</p>

	<p>
		I feel uncomfortable when described by any gender, therefore neutral genders
		(e.g. it or they, or just iff) are preferred. In addition, sexual contents
		are NOT welcomed. TL;DR: Agender & Asexual.
	</p>

	<p>
		If you want to know more about my personality: INFJ-T, 4w5.
	</p>

	<h2>Social Links</h2>

	<p>
		It's preferably to reach me by mail at <a href="mailto:contact@iffse.eu.org"
			>contact@iffse.eu.org</a
		>.
	</p>

	<p>Other links (sorted alphabetically):</p>
	<ul>
		{
			socialLinks.map(({ name, url, icon }) => (
				<li>
					<a href={url} target="_blank" rel="noreferrer">
						{icon && <img src={icon} />}
						{name}
					</a>
				</li>
			))
		}
	</ul>

	<div>
		<p>Want to support me?</p>
		<div>
			<a
				href="https://liberapay.com/iff/donate"
				target="_blank"
				rel="noreferrer"
				><img
					src="https://liberapay.com/assets/widgets/donate.svg"
					alt="Donate using Liberapay"
				/></a
			>
			<a href="https://ko-fi.com/iffse" target="_blank" rel="noreferrer"
				><img
					src="https://www.vectorlogo.zone/logos/ko-fi/ko-fi-ar21.svg"
					alt="Donate using Ko-fi"
					style="height: 30px;"
				/></a
			>
			<br />
			<a href="/stripe" target="_blank" rel="noreferrer"
				><img
					src="https://cdn.brandfolder.io/KGT2DTA4/at/8vbr8k4mr5xjwk4hxq4t9vs/Stripe_wordmark_-_blurple.svg"
					alt="Donate using Stripe"
					style="height: 30px;"
				/></a
			>
			<a
				href="https://www.paypal.com/donate/?hosted_button_id=QN7Z7ZHRAAFZL"
				target="_blank"
				rel="noreferrer"
				><img
					src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg"
					alt="Donate using PayPal"
					style="height: 25px; margin-bottom: 3px;"
				/></a
			>
		</div>
	</div>
</Layout>

<style>
	li a img {
		height: 1em;
		vertical-align: middle;
		margin-right: 0.5em;
	}
</style>
