---
interface Props {
	slug: string
	title: string
	description: string
}

const { slug, title, description } = Astro.props
---

<li>
	<a href={`/${slug}`}>
		<h4 class="title">{title}</h4>
		{description && <p class="description">{description}</p>}
	</a>
</li>

<style>
	li {
		flex-grow: 1;
		background-color: var(--background-dark);
		border-radius: 0.3em;
		box-shadow: 3px 3px 10px var(--background-dark3);
	}
	li,
	li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	a {
		padding: 1rem;
		display: block;
	}
	.title {
		line-height: 1;
	}
	.description {
		color: var(--foreground);
	}
	li:hover * {
		color: var(--accent-dark);
	}
	li:hover {
		transform: scale(1.03);
	}
	* {
		text-align: center;
	}
</style>
