---
interface Props {
	title: string
	description: string
	language?: string
	comment?: boolean
}

import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Comment from '../components/Comment.astro'
import { SITE_TITLE } from '../consts'

let { title, description, language, comment } = Astro.props
if (title != SITE_TITLE) title = `${title} | ${SITE_TITLE}`
---

<!doctype html>
<html lang={language}>
	<head>
		<BaseHead title={title} description={description} />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
			integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<Header title={title} />
		<main>
			<slot />
			{
				comment && (
					<>
						<hr class="comment-hr" />
						{comment && <Comment />}
					</>
				)
			}
		</main>
		<Footer />
		<style>
			.comment-hr {
				border-top: 1px solid var(--foreground-light);
			}
		</style>
	</body>
</html>
